body {
  margin: 0;
  padding: 0;
}

.AboutBackground {
  background-color: #cae6f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 100vh;
  
  
  text-align: center;
}

.TeamSection {
  margin-bottom: 30px;
  padding :50px;

}

.TeamTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.TeamDescription {
  font-size: 16px;
  margin-bottom: 10px;
}

.DeveloperPhotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DeveloperPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.DeveloperName {
  margin-top: 10px;
  font-weight: bold;
}

.DeveloperPhoto img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

