.CheckBackground {
  color: var(--black);
  background-color: #cae6f3;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}



.ButtonRow {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}





.infosoftwares {
  padding-left: 200px;
}

.infoseminar {
  padding-top: 20px;
  padding-left: 350px;
  padding-right: 350px;
}

.InfoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.InfoContent {
  display: flex;
  flex-direction: column;
}

.InfoImages {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.InfoImages img {
  width: 200px;
  height: auto;
  margin-right: 8px;
  border-radius: 8px;
}

.InfoText h3 {
  margin-bottom: 8px;
}

.InfoText p {
  margin-bottom: 4px;
}

.InfoText ul {
  padding-left: 20px;
}

.InfoImages {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.InfoImages img {
  width: 200px;
  height: auto;
  margin-right: 8px;
  border-radius: 8px;
}

.PlaceButtonfeatures {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 1rem;
  padding: 8px 16px;
  margin: 0 8px;
  background-color: #0c0701;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.ActiveButtonfeatures {
  background-color: #24aae9; 
  color: #ffffff;
  font-weight: bold; }

.CheckBackground {
  background-color: #cae6f3;
}

