table {
  margin: 0 auto;
  width: 80%;
}

th,
td {
  padding: 0.5rem;
  text-align: center;
  border-radius: 5px;
}

thead th {
  background-color: #f0be09;
  color: #faf7f7;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  margin: 0 10rem;
}

.bttn {
  background-color: #44444492;
  font-size: 12px;
  font-weight: 600;
  color: #faf7f7;
  height: 35px;
  border: 2px solid #4444443a;
  border-radius: 10px;
  width: 80px;
}

.bttn:hover {
  background-color: #f0be09;
}
