.FMenu {
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* border: solid 4px #6f5656; */
  border-radius: 15px;
  background-color: rgb(54, 61, 61);
  padding-top: 35px;
  /* justify-content: space-evenly;  */
  align-items: center;
}
.calback {
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  border-radius: 10px;
  color: rgb(188, 77, 77);
  background-color: #d9e9e6;
  /* rgba(223, 219, 4, 0.834) */
}

/* .alli {
  display: flex;
  justify-items: left;
  height: 50%;
  width: 80%;
} */
/* .img {
    height: 100%;
    width: 100%;
  } */

/* .Ftopic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80%;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 800;
  background-color: #dcce2c;
} */

/* @media screen and (max-width: 1200px) {
  .FMenu {
    width: 10;
  }
} */
