.calsize {
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  border-radius: 10px;
  color: rgb(188, 77, 77);
  background-color: #d9e9e6;
  /* rgba(223, 219, 4, 0.834) */
}
