/* .the-calendar {
	position: relative;
	height: 500px;
	width: 1000px;
	background-color: #fff0b3;
}

.rbc-calendar {
	background-color: #fff0b3;
}

.rbc-toolbar {
	background-color: #98cbed;
}

.rbc-today {
	background-color: #a4f9c7;
	color: #ffffff;
}

.rbc-header {
	background-color: #98cbed;
	color: #ffffff;
}



.rbc-selected {
	background-color: #1f618d;
	color: #ffffff;
} */

.rbc-event {
  background-color: #a4f9c7;
  border-color: #a4f9c7;
}

.the-calendar {
  position: relative;
  height: 520%;
  width: 100%;
  background-color: #ffffcc;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.rbc-day-slot {
  background-color: rgba(255, 255, 255, 0.882);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.rbc-today {
  background-color: rgb(147, 234, 176);
}

.rbc-selected {
  background-color: rgba(100, 100, 255, 0.8);
}
